<li class="card">
    <div class="card-content">

      <span class="card-category">Operating Rate</span>
      <h3 class="card-title">A Shuttle Every 15–25 minutes!</h3>
      <p>Shuttles on the Orange, Pruple, and Green Route have a 15–20 minute interval.</p>
      <p>The Banner route has a shuttle en route every 20–25 minutes: Please note that there is a 45 minute headway between 11:00am to 3:00pm for the Banner route. </p>

      <div class="card-grid">
        <div class="card-byline">15–20 min 20–25  min</div>
        <a href="/stops/">Orange Route</a>
        <a href="/stops/">Purple Route</a>
        <a href="/stops/">Green Route</a>
        <a href="/stops/">Banner Route</a>
      </div>

    </div>
  </li>

  <li class="card">
    <div class="card-content">

      <span class="card-category">Operating Time</span>
      <h3 class="card-title">9am to 8pm
        Everyday, Year Round.</h3>

      <p>There is always going to be a shuttle running in between 9am in the morning and 8pm in the evening. Below is the list of CCC’s daily operating hours.</p>

      <span class="card-byline">Mon to Thu
      </span>
      <a href="/stops/">Orange Route</a>
      <a href="/stops/">Purple Route</a>
      <a href="/stops/">Green Route</a>
      <a href="/stops/">Banner Route</a>

    </div>
  </li>
