<div class="site-grid-secondary">
  <div class="header-service-wrapper">
   <h2>Our Policies</h2>
   <h4>Promises we make</h4>
  </div>

  <ul class="u-list-reset cards-list">
    <li class="card">

      <div class="card-content">
        <h3 class="card-title">A Shuttle Every 15–25 minutes!</h3>
        <p>Shuttles on the Orange, Pruple, and Green Route have a 15–20 minute interval.</p>
        <p>The Banner route has a shuttle en route every 20–25 minutes: Please note that there is a 45 minute headway between 11:00am to 3:00pm for the Banner route. </p>

        <div class="card-grid-1">
        </div>

      </div>
    </li>
  </ul>
  
</div>
