<header class="site-header">
    <h1 class="site-name">Charm City Circulator Demo Site</h1>   

    <nav class="site-nav-top">
      <ul class="u-list-reset">
      {% assign nav = collections.nav | sortByPageOrder %} 
      {% for item in nav%}
        <li>
          <a href="{{ item.url }}">
            {{ item.data.pageTitle }}
          </a>
        </li>
      {% endfor %}
      <li>
        <a href="/search/"><i class="fa fa-search"></i></a>
      </li>
      </ul>
    </nav>
    
  </header>


