<div class="site-grid-secondary">
  <div class="header-service-wrapper">
   <h2>Our Policies</h2>
   <h4>Promises we make</h4>
  </div>
 
  <div class="site-grid-secondary-wrapper">
   <ul class="u-list-reset cards-list">
    <li class="card">
      <div class="card-content">
        <div class="site-grid-secondary-wrapper">
          <h3 class="card-title">No Strand Policy.</h3>
          <p>Riders present at any of the Circulator stops at the end of service hours, will be allowed to board and will be taken to their respective stop destinations on the same route. Service will not be provided to riders who arrive at stops after service hours.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

</div>
