  <nav class="site-nav-bottom">
      <div class="site-nav-bottom-content">

          <a role="button" href="/routes/" class="button-routes-1">
            View Routes at a Glance
          </a>

          <a role="button" href="/stops/" class="button-stops-1">
            List of Stops & Locations 
          </a>

          <a role="button" href="/contact/" class="button-contact-1">
            Contact  
          </a>

          <a role="button" href="/service/" class="button-service-1">
            Policy 
          </a>

          <a role="button" href="/service/" class="button-service-2">
            Service Information 
          </a>

          <a role="button" href="/stops/"class="button-stops-2">
            Download Maps
          </a>

      </div>
    </nav>
