html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-offwhite;
  color: $color-text-body;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  margin: 0;
  padding-left: 120px;
  padding-right: 120px;
}

main {
  flex: 1 0 auto;
  padding-top: 120px; 
}
