html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-offwhite;
  color: $color-text-body;
  font-family: "noto-sans-display", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: 10vh 10vw;
  //border: 2px solid $color-purple; 
}

h2 {
  font-family: "omnium", sans-serif;
  font-size: 72px; 
  text-transform: uppercase; 
  margin: 0px; 
  padding: 0px; 
  line-height: 0.5;
}

h3 {
  font-size: 28px; 
  font-weight: 500;
  padding-bottom: 3vh;
  //border: 2px solid $color-purple;
  
}

p {
  font-size: 18px;
  //border: 2px solid $color-purple;
}
// "neue-haas-unica" 
// "noto-sans-display"
