html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-offwhite;
  color: $color-text-body;
  font-family: "noto-sans-display", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: 10vh 10vw; 
}

h2 {
  font-family: "omnium", sans-serif;
  font-size: 64px; 
  text-transform: uppercase; 
}

h3 {
  font-size: 28px; 
  font-weight: 600;
}
// "neue-haas-unica" 
// "noto-sans-display"
