$body: 18px;
$header-description: 28px;
$card-title: 36px;
$header: 72px; 

$color-offblack: #0A0908;
$color-offwhite: #FCFCFC;
$color-grey: #ccc;

$color-yellow: #F6F930;
$color-mint: #00a851;
$color-purple: #500d76;
$color-purple-transparent: rgba(80, 13, 118, 0.1);  
$color-slate: #3b4127;

$color-text-body: $color-purple;
$color-text-link: $color-mint;
$color-text-link-visited: $color-text-body;


//$font-mono: "IBM Plex Mono",
//monospace;

$transition-default: all 300ms;
