/* Error: Expected string.
 *   ,
 * 9 | "site-grid-stops",
 *   |                   ^
 *   '
 *   src/sass/layout/_layout.scss 9:19  @import
 *   src/sass/styles.scss 5:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected string.\a   \2577 \a 9 \2502  "site-grid-stops",\a   \2502                    ^\a   \2575 \a   src/sass/layout/_layout.scss 9:19  @import\a   src/sass/styles.scss 5:1           root stylesheet';
}
