/* Error: expected ")".
 *    ,
 * 85 |     grid-template-columns: auto minmax (0px1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 *    |                                                                           ^
 *    '
 *   src/sass/components/_card.scss 85:75      @import
 *   src/sass/components/_components.scss 2:1  @import
 *   src/sass/styles.scss 6:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 85 \2502      grid-template-columns: auto minmax (0px1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;\a    \2502                                                                            ^\a    \2575 \a   src/sass/components/_card.scss 85:75      @import\a   src/sass/components/_components.scss 2:1  @import\a   src/sass/styles.scss 6:1                  root stylesheet';
}
