$card-gap: 12px;

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-left: -$card-gap;
  margin-right: -$card-gap;
}

.card {
  border-radius: $border-rounded;
  border: $border-check; 
  border-top: 3px solid $color-purple;
  margin: $card-gap;
  overflow: hidden;
  position: relative;
  transition: $transition-default;
  

  @media (max-width: 679px) {
    width: 100%;
    max-width: 600px;
  }

  @media (min-width: 680px) {
    flex: 1 0 auto;
    width: 30%;
  }

  &-content {
    //border: $border-check; 
    padding: 36px;
    position: relative;
    z-index: 1;

    @media (min-width: 680px) {
      display: flex;
      flex-direction: column;
      min-height: 220px;
    }

    p {
      border: $border-check;
      margin: 0vh 0vw 1vh 0vw;
    }
  }

  &-title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    border: $border-check;
    margin-bottom: 1vh;

    a {
      color: $color-text-body;
      font-size: 28px;
      font-weight: 800;
      line-height: 1.3;
      text-decoration: none;
      transition: $transition-default;

      &:hover,
      &:focus {
        text-decoration: underline 2px;
      }
    }
  }

  &-byline,
  &-category {
    font-size: $font-size-footer;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

  &-category {
    padding-bottom: 2px;
    width: min-content;
  }

  &::before,
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $transition-default;
  }

  &::before {
    opacity: 0.4;
  }

  &:nth-child(even) {
    &::before {
      background: linear-gradient(130deg, $color-yellow, white);
    }
  }

  &:nth-child(odd) {
    &::before {
      background: linear-gradient(130deg, $color-mint, white);
    }
  }

  &-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem; 

      span {
        font-size: $font-size-header-description;
      }

      a {
        border: $border-check;
        border-radius: $border-rounded;
        text-decoration: none;
        

      }
  }
}


//class="card-content-grid"
