.site-grid-home {

    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem; 
    width: 100%;
    
    //breakpoint is the min-width
    
      @media (min-width: 780px) {
        display: grid; 
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1rem; 
        width: 100%; 
    }
}

.header-home-wrapper {

    grid-column: 1 / 1;
    grid-row: 1; 
    max-width: 380px;

    h2 {
        //font-size: 54px;
        text-transform: uppercase;
    }

    @media (min-width: 780px) { 
        grid-column: 1 / 12;
        grid-row: 1; 
    }
}

.content-home-wrapper {

    grid-column: 1 / 1;
    grid-row: 2; 
    min-width: 380px;

   @media (min-width: 780px) {  
        grid-column: 1 / 12;
        grid-row: 2; 
    }
}
