.header-search-wrapper {
    grid-column: 1 / 11;
    grid-row: 1; 
}

div.content-search-box {
    order: 2px solid $color-purple; 
    border: $border;
    border-radius: $border-rounded;
    display: block; 
    height: 72px;
    grid-column: 1 / 11;
    grid-row: 2; 

    &:hover, 
    &:focus {
        cursor: text; 
    }
}

.search-box {
    font-size: $font-size-header-description;
    background: $color-purple-transparent; 
    border: 5px solid $color-purple; 
    border-radius: $border-rounded;
    color: $color-purple;
    height: 72px;
    grid-column: 1 / 11;
    grid-row: 2; 
    outline: 0;

    &:hover,
    &focus {
        background: $color-offwhite;
    }
}
 






