.header-search-wrapper {
    grid-column: 1 / 11;
    grid-row: 1; 
}

div.content-search-box {
    border: 2px solid $color-purple; 
    border-radius: 12px;
    display: block; 
    height: 72px;
    grid-column: 1 / 11;
    grid-row: 2; 

    &:hover {
        cursor: text; 
    }
}
 






