.site-grid {
    //border: 2px solid $color-purple; 
    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem; 
    width: 100%; 

    //@media (min-width: 680px) {
       // flex: 1 0 auto;
       // width: 30%;
      //}
}


.header-contact-wrapper {
    grid-column: 1 / 12;
    grid-row: 1; 
}

.content-contact-wrapper {
    grid-column: 1 / 12;
    grid-row: 2; 
}

form {
    //border: $border;
}

input, textarea {
    background-color: $color-purple-transparent; 
    border: 0; 
    border-bottom: $border $color-purple; 
    border-radius: $border-rounded; 
    color: $color-purple;
    font-family: "noto-sans-display", sans-serif;
    font-weight: 400;
    font-size: $font-size-body; 
    outline: 0;
}

input[type=text], select, textarea {
    box-sizing: border-box;
    padding: 2vh;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    width: 100%; 
  }
  
  input[type=submit] {
    background-color: $color-purple; 
    border-radius: $border-rounded;
    color: $color-offwhite; 
    padding: 2vh; 
    transition: 0.3s; 
    outline: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-offwhite;
        color: $color-purple; 
        cursor: pointer;
    }
  }

  textarea {
      min-height: 300px; 

      &::placeholder {
        color: $color-purple;
    }
  }

