.site-grid {

    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem; 
    width: 100%; 
    
    //breakpoint is the min-width
    
      @media (min-width: 580px) {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1rem; 
        width: 100%; 
      }

}

.header-home-wrapper {

    grid-column: 1 / 1;
    grid-row: 1; 

    h2 {
        text-transform: uppercase;
    }

    @media (min-width: 580px) { 
            grid-column: 1 / 12;
            grid-row: 1; 
    }
}

.content-home-wrapper {

    grid-column: 1 / 1;
    grid-row: 2; 

    @media (min-width: 580px) {  
            grid-column: 1 / 8;
            grid-row: 2; 
    }
}
