.site-nav-top {
  background-color: $color-grey;

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    border-bottom: 5px solid $color-yellow;

    +li {
      a {
        margin-left: 8px;
      }
    }
  }

  a {
    border-bottom: 2px dashed transparent;
    color: $color-text-body;
    display: block;
    font-family: $font-mono;
    margin-bottom: -3px;
    padding: 12px;
    text-decoration: none;
    transition: $transition-default;

    &:hover,
    &:focus {
      border-bottom-color: rgba($color-slate, 70%);
    }
  }

  [aria-current] a {
    border-bottom-color: $color-slate;
    cursor: default;
  }
}

.site-nav-bottom {
  font-size: 28px; 
  font-weight: 500;
  padding: 10vh 10vw; 
}

.site-nav-bottom-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 


  div {
    border: 2px solid $color-mint; 
    padding: 1vh;  
  }

  a {
    border: 2px solid $color-mint; 
    color: $color-text-body;
    text-decoration: none;
    padding: 0;   
    margin: 0;
  }
}
