.site-grid {
    //border: 2px solid $color-purple; 
    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem; 
    width: 100%; 

    //@media (min-width: 680px) {
       // flex: 1 0 auto;
       // width: 30%;
      //}
}


.header-contact-wrapper {
    //border: 2px solid $color-purple; 
    grid-column: 1 / 10;
    grid-row: 1; 
}

.content-contact-wrapper {
    //border: 2px solid $color-purple; 
    grid-column: 1 / 8;
    grid-row: 2; 
}


/* Style inputs with type="text", select elements and textareas */

input {
    border: 10px solid $color-purple; 
    border-radius: $border-rounded; 
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: $color-purple; 
    color: $color-offwhite; 
    padding: 12px 20px;
    border-radius: $border-rounded;
    cursor: pointer;
    transition: 0.3s;
  }
  
  input[type=submit]:hover {
    background-color: $color-offwhite;
    border: $border; 
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
