.header-search-wrapper {
    grid-column: 1 / 11;
    grid-row: 1; 
}

div.content-search-box {
    order: 2px solid $color-purple; 
    border: $border;
    border-radius: $border-rounded;
    display: block; 
    height: 72px;
    grid-column: 1 / 11;
    grid-row: 2; 

    &:hover, 
    &:focus {
        cursor: text; 
    }
}

.search-box {
    border: 5px solid $color-purple; 
    border-radius: $border-rounded;
    height: 72px;
    grid-column: 1 / 11;
    grid-row: 2; 
}
 






