.site-nav-top {
  background-color: $color-offwhite;
  //border-bottom: 2px solid $color-purple-transparent; 
  text-transform: uppercase;
  font-weight: 700; 
  padding: 0vh 10vw 0vh 10vw;
  border-top: 1.5vh solid $color-purple;

  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0; 
    opacity: 0.5;
  }

  li:first-child {
    margin-right: auto; 
    font-family: "omnium";
    font-size: 28px;
    font-weight: 900; 
  }

  li {
    font-size: 14px;

    +li {
      a {
        margin-left: 8px;
      }
    }
  }

  a {
    border-bottom: 2px dashed transparent;
    color: $color-text-body;
    display: block;
    padding-top: 1vh;
    margin-right: 1vh;
    text-decoration: none;
    transition: $transition-default;
    opacity: 0.5;

    &:hover,
    &:focus {
      border-bottom-color: rgba($color-purple, 70%);
    }
  }

  [aria-current] a {
    opacity: 1;
    cursor: default;
  }
}

.site-nav-bottom {
  font-size: 28px; 
  font-weight: 500;
  padding: 10vh 10vw; 
  margin: 0;
  //border: 2px solid $color-purple; 
}

.site-nav-bottom-content {
  display: flex; 
  flex-wrap: wrap;
  //justify-content: space-around; 

  //div {
    //color: $color-text-body; 
    //border: 2px solid $color-purple; 
    //border-radius: 12px; 
    //margin: 0.5vh; 
    //padding: 1vh 2vw;

    //&:hover,
   // &:focus {
      //background-color: $color-purple; 
    //}
  //}

  a {
    border: 2px solid $color-purple; 
    border-radius: 12px; 
    color: $color-text-body;
    display: block; 
    text-decoration: none;
    margin: 0.5vh; 
    padding: 1vh 2vw;
    transition: 0.3s; 

    &:hover,
    &:focus {
      background-color: $color-purple; 
      color: $color-offwhite; 
    }
  }
}
