.header-404-wrapper {
    //border: 2px solid $color-purple; 
    grid-column: 1 / 11;
    grid-row: 1; 
}

.content-404-wrapper {
    //border: 2px solid $color-purple; 
    grid-column: 1 / 2;
    grid-row: 2; 

    a {
        color: $color-text-body;
        display: block; 
        text-decoration: none;
        border: 2px solid $color-purple; 
        border-radius: 12px; 
        padding: 1vh 2vw;
        transition: 0.3s; 
    
        &:hover {
          background-color: $color-purple; 
          color: $color-offwhite; 
        }
    }
}


